<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>043E63021E8A2780000A0033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043E631B1E8A2781000A0033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043E63261E8A2781000A0033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
