<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>045A4CFD1E8B46A900A48BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045A4D161E8B46AB00A48BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045A4D211E8B46AB00A48BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
